.parallax {
	display: none;
	@include media-breakpoint-up(md) {
		display: block;
		background: pink;
		height: 35vmax;
		background-size: cover;
		background-attachment: fixed;
		background-position: center; 
	}
	 
}

.parallax-home {
	background-image: url(../img/parallax-image.jpg); 
}